

<% if @homes.present? %>
<% @homes.each do |h| %> 

		<%= link_to("#{h.address}", home_path(h))%>
<!--         <a href="/homes"><p><%= h.address %></p></a>
 -->        <p><%= h.city %></p> 
        <p><%= h.state %></p> 
        <p><%= h.zip %></p> 
        
   <% end %>
<% else %>
   <p> No Posts </p>
<% end %>


