

<div class="container cards">
	<div class="row">

		<% if @homes.present? %>
		<% @homes.each do |h| %> 
		<div class="col m4 s6">
			<div class="card z-depth-4 card-panel hoverable">
				<div class="card-image ">
					<img src="images/sample-1.jpg">
				</div>
				<div class="card-content">
<!-- 					<%= link_to("#{h.address}", home_path(h))%>
 -->					
 					<p><%= h.address %></p>
 					<p><%= h.city %></p> 
					<p><%= h.state %></p> 
					<p><%= h.zip %></p> 
				</div>
				<div class="card-action">
				<a href="/homes/<%= h.id %>"class="waves-effect waves-light btn">View </a>


<!-- 					<a href="#">This is a link</a>
 -->				</div>
			</div>
		</div>
		<% end %>
		<% else %>
		<p> No Posts </p>
		<% end %>

	</div>
</div>