 

        <p><%= @homes.address%></p> 
        <p><%= @homes.city %></p> 
        <p><%= @homes.state %></p> 
        <p><%= @homes.zip %></p> 
 



 <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Contact Property</h4>
        <p><%= @homes.name %></p> 
        <p><%= @homes.email %></p> 
        <p><%= @homes.phone_number%></p> 

 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

<!-- <input class="white-text serachbox"type="text" name"search" placeholder="First name" width="65%" > -->

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Back to Property</a>
    </div>
  </div>