 
 <div class="container">
<img class="center-align"src="http://energy.gov/sites/prod/files/styles/borealis_default_hero_respondlarge/public/log_home_11874794.jpg?itok=FmluMzfG"height="300" width="300">
 </div>

<div class="container grey lighten-4">
       <div class="row center-align">
        <h6><%= @homes.address%>
        <%= @homes.city %>,
        <%= @homes.state %>
        <%= @homes.zip %></h6> 
        </div>
        <div class="row center-align">
        <span>Available to move in by: <%= @homes.date %></span>
        </div>
 
 </div>



 <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Contact Form</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Contact Property</h4>
        <p><%= @homes.name %></p> 
        <p><%= @homes.email %></p> 
        <p><%= @homes.phone_number%></p> 

 <div class="row">
<!--     <form class="col s12">
 -->      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

<!-- <input class="white-text serachbox"type="text" name"search" placeholder="First name" width="65%" > -->

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Back to Property</a>
    </div>
  </div>